{% extends 'admin/base_site.html' %}

{% block title %}招待を管理{% endblock %}

{% block extrastyle %}
    {# bootstrap CSS #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {# ------------- #}
{% endblock %}

{% block content %}

    {% if invitation_url %}
        <h5>URL:<a class="m-3" href="{{ invitation_url }}">{{ invitation_url }}</a></h5>
    {% endif %}

    <form method="post" action="">
    {% csrf_token %}
        <button class="btn btn-primary m-5 w-75" type="submit">招待を生成する</button>
    </form>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-unused-tab" data-toggle="tab" href="#nav-unused" role="tab" aria-controls="nav-unused" aria-selected="true">未使用</a>
            <a class="nav-item nav-link" id="nav-used-tab" data-toggle="tab" href="#nav-used" role="tab" aria-controls="nav-used" aria-selected="false">使用済み</a>
        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade show active" id="nav-unused" role="tabpanel" aria-labelledby="nav-unused-tab">
            {% for invitation in invitations %}
                {% if invitation.is_active %}
                    <div class="card border-dark m-3">
                        <div class="card-header bg-success text-white">{{ invitation.uuid }}</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">生成日時: {{ invitation.generated_time }}</li>
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="tab-pane fade" id="nav-used" role="tabpanel" aria-labelledby="nav-used-tab">
            {% for invitation in invitations %}
                {% if not invitation.is_active %}
                    <div class="card border-dark m-3">
                        <div class="card-header bg-secondary text-white">{{ invitation.uuid }}</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">生成日時: {{ invitation.generated_time }}</li>
                            <li class="list-group-item">使用したユーザー: {{ invitation.registered_user.username }}</li>
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>

    {# bootstrap JS #}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {# ------------ #}
{% endblock %}