{% extends 'possys/base.html' %}

{% block title %}残金追加{% endblock %}

{% block alert %}
    {% if result.status_code == 418 %}
        {% include 'possys/includes/danger_alert.html' with text="入金に失敗しました" %}
    {% elif result %}
        {% include 'possys/includes/success_alert.html' with text="入金に成功しました" %}
    {% endif %}
{% endblock %}

{% block body %}
    <h2 class="page-title">残金追加</h2>

    <div class="card full-width p-4">
        <div class="card full-width">
            <div class="card-body">
                {{ user.username }}さんの現在の残金 : {{ user.wallet }}円
            </div>
        </div>
        {% include 'possys/includes/charge_wallet_confirmation_modal.html' with trigger_button_class="btn btn-dark full-width" id_name="charge_wallet_confirmation" trigger_text="残金を追加する" text="残金を追加しますか？" %}
    </div>
{% endblock %}