{% extends 'possys/base.html' %}

{% block title %}残金追加{% endblock %}

{% block body %}
    <h2 style="text-align: center">残金追加</h2>
    {% if result_message %}
        <h5 style="color: red; margin: 10%">{{ result_message }}</h5>
    {% endif %}
    <div class="card" style="width: 80%; margin: 10%;">
        <div class="card-body">
            {{ user.username }}さんの現在の残金 : {{ user.wallet }}円
        </div>
    </div>
    {% include 'possys/includes/modal.html' with trigger_button_class="btn btn-dark" trigger_button_style="width: 60%; margin: 10% 20% 20% 20%;" id_name="charge_wallet_confirmation" trigger_text="1000円チャージする" text="1000円チャージしますか？" %}
{% endblock %}