{% extends 'possys/base.html' %}

{% block title %}決済履歴{% endblock %}

{% block body %}
    <h2 style="text-align: center">決済履歴</h2>
    {% for transaction in transactions %}
        {% if transaction.product %}
            <div class="card" style="width: 80%; margin: 10%;">
                <div class="card-header"><strong>商品購入</strong></div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">商品名 : {{ transaction.product.name }}</li>
                    <li class="list-group-item">支払い金額 : {{ transaction.price }}円</li>
                    <li class="list-group-item">決済日時 : {{ transaction.timestamp }}</li>
                </ul>
            </div>
        {% else %}
            <div class="card" style="width: 80%; margin: 10%;">
                <div class="card-header"><strong>入金</strong></div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">支払い金額 : {{ transaction.price }}円</li>
                    <li class="list-group-item">決済日時 : {{ transaction.timestamp }}</li>
                </ul>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}