{% extends 'possys/base.html' %}

{% block title %}購入履歴{% endblock %}

{% block body %}
    <ul>
        {% for transaction in transactions %}
            {% if transaction.product %}
                <li>
                    <h2>{{ transaction.product.name }}</h2>
                    <p>金額:{{ transaction.price }}円</p>
                    <p>購入日:{{ transaction.timestamp }}</p>
                </li>
            {% else %}
                <li>
                    <h2>入金</h2>
                    <p>金額:{{ transaction.price }}円</p>
                    <p>入金日:{{ transaction.timestamp }}</p>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}