{% extends 'possys/base.html' %}

{% block title %}ログイン{% endblock %}

{% block head %}
    {# djangoの自動生成でlabelによくわからないmargin-bottomが入っていたので消す #}
    <style>
        label{
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block body %}
    <h2 style="text-align: center">ログイン</h2>
    <div class="card" style="width: 94%; margin: 3%; padding: 5%;">
        {% if form.errors %}
            <p style="color: red; margin-bottom: 5%">ユーザー名またはパスワードが違います</p>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">{{ form.username.label_tag }}</span>
                </div>
                {{ form.username }}
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">{{ form.password.label_tag }}</span>
                </div>
                {{ form.password }}
            </div>

            <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 5%;">ログインする</button>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>

    {# widget_tweaksを使わずに自動生成formでbootstrapを使う #}
    <script>
        (function(){
            let input_forms = document.getElementsByTagName("input");
            for(let i = 0; i < input_forms.length; i++){
                input_forms[i].classList.add("form-control");
            }
        })()
    </script>
{% endblock %}