{% extends 'possys/base.html' %}

{% block title %}パスワードのリセット{% endblock %}

{% block body %}
    {% if validlink %}
        <h2 class="page-title">パスワードの再設定</h2>
        <div class="card full-width p-4">

            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'possys/includes/form.html' %}
                <button type="submit" class="btn btn-primary full-width">パスワードを再設定する</button>
            </form>

        </div>
    {% else %}
        <h2 class="page-title">不正なリンク</h2>
        <div class="card full-width p-4">

            このリンクは無効です。もう一度やり直してください。

            <a href="{% url 'password_reset' %}" class="btn btn-primary mt-3">パスワードのリセットに戻る</a>

        </div>
    {% endif %}
{% endblock %}