{% extends 'possys/base.html' %}

{% block title %}商品一覧{% endblock %}

{% block body %}
    <h2 style="text-align: center">商品一覧</h2>

    {% for category, products_list in products_dictionary_of_each_category.items %}
        <div class="card" style="width: 90%; margin: 5% 5% 10% 5%;">
            <div class="card-header"><strong>{{ category.name }}</strong></div>
            <ul class="list-group list-group-flush">
                {% for product in products_list %}
                    <li class="list-group-item">
                        <button class="btn btn-dark product-name" style="width: 25vw; opacity: 1;" disabled>{{ product.name }}</button>
                        <span class="product-price" style="margin-left: 15vw; margin-right: 5vw;">{{ product.price }}円</span>

                        {% include 'possys/includes/purchase_confirmation_modal.html' %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    
    {# pcで商品の名前，値段，ボタンが小さくなりすぎないようにする #}
    <script>
        (function(){
            //pcの場合
            if(window.parent.screen.width > window.parent.screen.height){
                let product_name = document.getElementsByClassName("product-name");
                let product_price = document.getElementsByClassName("product-price");
                for(let i = 0; i < product_name.length; i++){
                    product_name[i].style.width = "30vw";
                    product_price[i].style.marginLeft = "30vw";
                    product_price[i].style.marginRight = "5vw";
                }
            }
        })()
    </script>
{% endblock %}