{% extends 'possys/base.html' %}

{% block title %}商品一覧{% endblock %}

{% block alert %}
    {% if result %}
        {% if result == "NotEnoughMoney" %}
            {% include 'possys/includes/danger_alert.html' with text="残金が足りません" %}
        {% else %}
            {% include 'possys/includes/purchase_result_success_alert.html' %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
    <h2 style="text-align: center">商品一覧</h2>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            {% for category, products_list in products_dictionary_of_each_category.items %}
                <a class="nav-item nav-link nav-tabs-text" id="nav-{{ category.name }}-tab" data-toggle="tab" href="#nav-{{ category.name }}" role="tab" aria-controls="nav-{{ category.name }}" aria-selected="true">{{ category.name }}</a>
            {% endfor %}
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
    {% for category, products_list in products_dictionary_of_each_category.items %}
        <div class="tab-pane fade" id="nav-{{ category.name }}" role="tabpanel" aria-labelledby="nav-{{ category.name }}-tab">
            {% for product in products_list %}
                <div class="card border-dark" style="width: 90%; margin: 5% 5% 10% 5%;">
                    <div class="card-header bg-light">{{ product.name }}</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">金額:　{{ product.price }}円</li>
                        <li class="list-group-item">
                            {% include 'possys/includes/purchase_confirmation_modal.html' with toggle_button_style="width: 100%;" %}
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>


    {# tabの最初を選択状態にする #}
    <script>
        (function(){
            let nav_tabs_text = document.getElementsByClassName("nav-tabs-text");
            let tab_panes = document.getElementsByClassName("tab-pane");
            nav_tabs_text[0].classList.add("active");
            tab_panes[0].classList.add("show", "active");
        })()
    </script>
{% endblock %}